<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PadelPartner</title>
    <link href="/static/style.css" rel="stylesheet" >
</head>
<body id="container">
    <header>
        <a href="http://localhost:8080/"><h1>PadelPartner</h1></a>
    </header>
    <main> 
        <fieldset>
            <legend>Skapa profil</legend>
            <!-- Tänker att de kan vara smart att dela upp registering i två delar när vi sedan sak behandla datan
            i python kan vi då dela upp och insert into rätt tabell. Antingen person eller profile. -->
            <form action="http://localhost:8080/createProfile">
                
                <!-- Person data -->
                
               
                <label for="pnr">Kön:</label>
                <input type="text" name="gender" id="gender" class="margin20" value=""  required> <br>
                
                <br>
                <textarea name="info" cols="30" rows="10" placeholder="Information om dig som spelare" required></textarea> <br>
                <br>
                
                <input type="submit">
            </form>
        </fieldset> 
        
    </main>
    <footer>
    </footer>
</body>
</html>