<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <a href="http://localhost:8080/logInUser">Tillbaka</a>
        </header>
        <h1>Din Beskrivning</h1>
        <figure>
        <img src="#" alt="min profil">
        </figure>
        <form action="#" method="POST">
            <label for="beskrivning">Beskrivning</label>
            <br>
            <textarea name="info" cols="30" rows="10" placeholder="Information om dig som spelare" required></textarea> <br>
            <br>
            <input type="submit">
        </form>
    </body>
</html>
