<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PadelPartner</title>
    <link href="/static/style.css" rel="stylesheet" >
</head>
<body id="container">
    <header>
        <a href="http://localhost:8080/"><h1>PadelPartner</h1></a>
    </header>
    <main> 
        <fieldset>
            <legend>Sök spelare:</legend>
            <!-- Tänker att de kan vara smart att dela upp registering i två delar när vi sedan sak behandla datan
            i python kan vi då dela upp och insert into rätt tabell. Antingen person eller profile. -->
            

            <h2>{{!pagename}}</h2>
            <h3>Skribent: {{!name}}</h3>
            <br>
                <p>{{!file}}</p>
                % i=0
                % for item in games:
                    
                     
                % i=i+1
                % end
            <br>
            <h4>Kommentarer</h4>
            % for comment in comments:
                <li class="comment">{{!comment}}</li>
            % end
    
     
        </fieldset> 
        
    </main>
    <footer>
    </footer>
</body>
</html>