<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PadelPartner</title>
    <link href="/static/style.css" rel="stylesheet" >
</head>
<body id="container">
    <header>
        <a href="http://localhost:8080/"><h1>PadelPartner</h1></a>
    </header>
    <main> 
        <fieldset>
            <legend>Logga in:</legend>
            <!-- Tänker att de kan vara smart att dela upp registering i två delar när vi sedan sak behandla datan
            i python kan vi då dela upp och insert into rätt tabell. Antingen person eller profile. -->
            <form action="http://localhost:8080/logInUser" method="POST">
            
                
                <!-- Profile data -->
                <label for="userName">Användarnamn:</label>
                <input type="userName" id="userName" name="userName"><br>
                <label for="pwd">Lösenord:</label>
                <input type="password" id="password" name="pwd" minlength="8"><br>
                <input type="submit">
            </form>
        </fieldset> 
        
    </main>
    <footer>
    </footer>
</body>
</html>