<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PadelPartner</title>
    <link href="/static/style.css" rel="stylesheet" >
</head>
<body id="container">
    <header>
        <a href="http://localhost:8080/"><h1>PadelPartner</h1></a>
    </header>
    <main> 
        <fieldset>
            <legend>Sök spelare:</legend>
            <!-- Tänker att de kan vara smart att dela upp registering i två delar när vi sedan sak behandla datan
            i python kan vi då dela upp och insert into rätt tabell. Antingen person eller profile. -->
            
            % for game in match:
                
                
                <h3>{{game[4]}}</h3>
                <br>
                <p>{{game[3]}}</p>
                <p>{{game[0]}}</p>
                <p>{{game[2]}}</p>
                <p>{{game[1]}}</p>
        
            % end
            
            
            
     
        </fieldset> 
        
    </main>
    <footer>
    </footer>
</body>
</html>