<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PadelPartner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Bree+Serif&display=swap" rel="stylesheet">

</head>
<body id="container">
       <div class="card">
        <header class="card-header">
            <img class="bild" id="b1" src="/static/padel.png">
            <a id="slogan" href="http://localhost:8080/start_page">PadelPartner</a>
            <img class="bild" id ="b2" src="/static/handshake.png">
        </header>
    </div>
    <!-- <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul class="list-group">
                <li class="list-group-item" class="hamburger"><a href="http://localhost:8080/createMatch">Skapa match</a></li>
                <li class="list-group-item" class="hamburger"><a href="http://localhost:8080/show_games">Hitta match</a></li>
                <li class="list-group-item" class="hamburger"><a href="http://localhost:8080/my_games">Mina matcher</a></li>
                <li class="list-group-item" class="hamburger"><a href="http://localhost:8080/show_past_chatt">Inkorg</a></li>
                <li class="list-group-item" class="hamburger"><a href="http://localhost:8080/about_us">Om oss</a></li>
                <li class="list-group-item" class="hamburger"><a href="http://localhost:8080/logout">Logga ut</a></li>
            </ul>
        </div>
        </div> -->
       
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button> -->
         
<div class="card-body">
<main> 
<fieldset>
<form action="http://localhost:8080/insert_match" method="POST">
    <label class="hjalptext">Vilken stad vill du spela i?..</label>
    <select id="location" name="location" required>
        <option value="" disabled selected hidden>Stad</option>
        <option value="Malmö">Malmö</option>
        <option value="Helsingborg">Helsingborg</option>
        <option value="Lund">Lund</option>
        <option value="Lomma">Lomma</option>
    </select>
    <label class="hjalptext">Hur många spelare söker?..</label>
    <select id="players" name="players" required>
        <option value="" disabled selected hidden>Söker</option>
        <option value="1">1 Spelare</option>
        <option value="2">2 Spelare</option>
        <option value="3">3 Spelare</option> 
    </select> <br>
    <label class="hjalptext">Vilken nivå vill du spela på?..</label>
    <select id="level" name="level" required>
        <option value="" disabled selected hidden>Nivå</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
    <label class="hjalptext">Vilka vill du spela med?..</label>
    <br>
    <select id="gender" name="gender" required>
        <option value="" disabled selected hidden>Kön</option>
        <option value="Herr">Herr</option>
        <option value="Dam">Dam</option>
        <option value="Mix">Mix</option>
    </select>
    <br>
    <label class="hjalptext">Vilken dag vill du spela?..</label>
    <select id="date" name="date" required>
        <option value="" disabled selected hidden>Datum</option>
        <option value="{{dates[0]}}">{{dates[0]}}</option>
        <option value="{{dates[1]}}">{{dates[1]}}</option>
        <option value="{{dates[2]}}">{{dates[2]}}</option>
        <option value="{{dates[3]}}">{{dates[3]}}</option>        
        <option value="{{dates[4]}}">{{dates[4]}}</option>
        <option value="{{dates[5]}}">{{dates[5]}}</option>
        <option value="{{dates[6]}}">{{dates[6]}}</option>
        <option value="{{dates[7]}}">{{dates[7]}}</option>        
        <option value="{{dates[8]}}">{{dates[8]}}</option>
        <option value="{{dates[9]}}">{{dates[9]}}</option>
    </select>
    <br>
    <label class="hjalptext">Här kan du fylla i övrig information om matchen. Till exemepel vilken tid, vilken bana eller spelhall etc.</label>
    <br>
    <textarea name="info" placeholder="Information och tid" required></textarea>
    <br>
    <input type="hidden" id="username" name="username" value="{{username}}">
    <input type="submit" class="btn btn-primary" value="Skapa Match">
</form>
</fieldset>
</main>
</div>
</div> 
<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="http://localhost:8080/start_page"><img src='/static/img/home.png'></a>
        <a class="navbar-brand" href="http://localhost:8080/show_games"><img src='/static/img/search.png'></a>
        <a class="navbar-brand" href="http://localhost:8080/createMatch"><img src='/static/img/add.png'></a>
        <a class="navbar-brand" href="http://localhost:8080/my_games"><img src='/static/img/heart.png'></a>
      </nav>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>