<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <a href="http://localhost:8080/">Logga ut</a>
        </header>
        
        <!-- Här ska fyllas på med router, information och allt som rör profilen -->

        <h1>Welcome {{user}}</h1>

        {%for item in picture:%}
        <img src="{{picture[0]}}">
        {%endfor%}
        <p><a href="http://localhost:8080/changeProfile">Uppdatera profil</a></p>
        
        <!-- Drop down Meny:  -->
        <p><a href="#">Min profil</a></p>
        <p><a href="http://localhost:8080/createMatch">Skapa match</a></p>
        <p><a href="http://localhost:8080/show_games">Hitta match</a></p>
        <p><a href="#">Inkorg</a></p>
    </body>
</html>