body {
    text-align: center;
    color: black;
    height: 100vh;
    background-color: whitesmoke;
}

.bild {
    width: 50px;
    height: 50px;
    display: inline-block;
}

#b1 {
    float: left;
}

#b2 {
    float: right;
}

.card-header {
    width: 100%;
    padding: 2%;
    position: relative;
}

#slogan {
    font-family: 'Bangers', cursive;
    position: relative;
    font-size: 235%;
    color: white;
}
.btn-primary {
    color: white;
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%);
    border: #A9C8EF;
    text-align: center;
    margin: 5% auto 25% auto;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    font-family:'Open Sans', sans-serif;
}
input[type="submit"] {
    width: 80%;
    line-height: 50px;
}
.formular {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
    font-size: 150%;
}

.divider {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #A9C8EF;
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.divider span { 
    background:#fff; 
    padding:0 10px; 
}

.card-body {
    height: 100%;
}
#container > div > div > form > fieldset > legend {
    margin-bottom: 1%;
}

a {
    color: black;
    font-weight: bold;
}
a:hover {
    color: #A9C8EF;    
    text-decoration: none;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

img {
    /* Temp lösning för lättar visuell överblick */
    width: 100%;
    text-align: center;
}

label {
    margin-bottom: 0px;
}

.form-input{
    height: 50px;
    margin: 5px 0px;
    width: 100%;
}

input[name="gender"] {
    height: 50px;
    width: 100%;
}

textarea {
    width: 100%;
    height: 150px;
}
.radio {
    font-size: 24px;
    display: inline-block;
    margin: 2%;
    width: 30%;
}
.radio input:checked ~ .radio:after {
    display: block;
  }

.pos-f-t {
    position: static;
    margin-top: 0px;
}

#profilbild {
    object-fit: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-top: 7%;
    margin-bottom: 7%;
}

#name {
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%);
}

.float-left {
    float: left;
    font-weight: bold;
    font-size: 20px;
}

.float-right {
    float: right;
    font-size: 20px;
}

.profilename {
    font-size: 30px;
    margin: 0px;
    color: grey;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}
#container > div:nth-child(4) > ul > li.list-group-item.active {
    background-color: white;
    padding: 2%;
    border-color: grey;
}

#marker {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}

#beskrivning {
    float: left;
    font-size: 20px;
}

#last {
    height: 145px;
}

.hamburger {
    font-size: 100px;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 40px;
    margin-top: 5%;
  }

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(143, 143, 143, 0.692);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(0, 192, 16);
    color: rgba(255, 255, 255, 0.76);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(0, 192, 16);
}

input:checked + .slider:before {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(110px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.col {
    font-size: 30px;
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%);
}

.col-6 {
    font-size: 30px;
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%);
}


.middle {
    display: inline-block;
    font-size: 20px;
    color: black;
    margin-left: 16%;
}

#container > div.pos-f-t > nav {
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%)!important;
}

#navbarToggleExternalContent > div {
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%)!important;
}

li.list-group-item.active {
    background-color: white;
    border-color: grey;
}


.alert-error {
    padding: 8px;
    background-color: red;
    color: white;
  }

.booked-players > img {
    width: 12%;
    margin: 0px 3px;
}
.booked-overview > img {
    width: 20px;
    margin: 0px;
}

.booked-players > #court {
    width: 90px;
}
.card {
    border: 0px;
}

.log-in > .card {
    height: 100vh;
}

.card-header {
    color: white;
    
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%);
}
.card-header > a {
    color: white;
    font-size: 40px;
}

.cap {
    text-transform: capitalize;
}

#iphone {
    width: 100%;
}

.button {
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%);
    border-radius: 2%;
    width: 70%;
    margin: auto auto 100px auto;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }

.booked-overview {
    display: flex;
    margin-top: 15px;
}

.gender {
    width: 30%;
    float: left;
    margin-bottom: 0px;
    padding: 0;
}

.level {
    margin: 0% 0% 0% 20%;
    font-size: 200%;
}
.matchlink {
    padding: 5px;
    border: 1px solid rgba(0,0,0,.125);
}

.city {
    margin: 0% 0% 0% 10%;
}

.antal-spelare {
    float: right;
    margin-bottom: 0px;
    padding: 0;
    
}

.match-status {
    width: 10%;
}

#check_Games {
    height: 50px;
    width: 50px;
    margin: 15px 1px 10px 5px;
    display: flex;
    float: left;
}

.guide {
    width: 70%;
    text-align: left;
    margin: auto;
    padding: 20px 2px 20px 25px;
    display: flex;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
.comp_guide {
    width: 70%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: lightslategrey;
}

.guide_overview {

    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 27px;
    
}

#Header_guide {
    color: grey;
    font-family: 'Open Sans', sans-serif;
}



.navbar-brand {

    width: 10%;
    margin-bottom: 15px;
    

}

#container > footer > nav {
    
    background-color: whitesmoke;
    background: whitesmoke;
    margin-top: 1000px;
    
}


#headingFour {
    margin-bottom: 50px;
}
#collapseFour {
    margin-bottom: 100px;
}
.hjalptext {
    float: left;
    color: grey;
    font-style: italic;
    font-size: 15px;
}

select {
    width: 100%;
    border: none;
    background-color: #f1f1f1;
}

.liten-knapp {
    background-color: Transparent;
    background-repeat:no-repeat;
    border-radius: 10%;
    margin: auto;
    border: none;
    color: #A9C8EF;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

.overiew-link {
    display: flex;
    line-height: 50px;
}

.flex-grow-1 {
    width: 50%;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-6 {
    flex-grow: 6;
}

.checkbox {
    width: 40px;
}

.overiew-link p {
    font-size: 16px;
    color: black;
}

.flex-grow-1 > .level {
    margin: 0px 15% 0px 15%;
    font-size: 28px !important;
}


.writer {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}
#comment_box {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    width: 100%;
}
#comment {
    width: 90%;
    height: 100px;
}
#listcomment{
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    
}
.msg{
    padding: 10px;
    text-align: center;
}
#comment-header {
    padding:10px;
    font-weight: bold;
    font-size: 25px;
}
#backBtn {
    font-size: 45px; 
    color: white;
    margin: 2% 90% 1% 1%;

}
#button-logout {
    margin-bottom: 100px;
}

.navbar-back {
    background-color: rgb(49, 51, 56);
    background: linear-gradient(90deg, rgba(49,51,56,1) 0%, rgba(102,157,189,1) 100%);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }